/*contact form style*/

#contact-form > form {

    position: relative;

}



#contact-form .error{

 color:#F22521;

}



#cstatus{

	display:inline-block;

	float:right;

}



#cstatus{

	display: none;

}

form#contactform .sending-mail{

    background: url("../images/preloader.gif") no-repeat scroll 0 8px transparent;

    display: block;

    height: 37px;

    margin-right: 698px;

    padding-left: 25px;

    padding-top: 6px;

}

form#contactform .mail-sent{

    background-color: #000000;

    border: 2px solid #000000;

    border-radius: 10px 10px 10px 10px;

    color: #FFFFFF;

    display: inline-block;

    left: 28%;

    opacity: 0.5;

    padding: 28px;

    position: absolute;

    text-align: center;

    top: 28%;

    width: 165px;

}


