.wrapper {
    background: url("images/body_bg.png") repeat scroll 0 0 transparent;
}

#content h1,

#content h2,

#content h3,

#content h4,

#content h5,

#content h6,

.about-widget-title, 

.about-widget-title a,

.page-title a:link,

.page-title a:visited,

h2.portfolio_head,

h2.member_head,

.archives-title,

.services_title a {

	color: #CD4343;	

}



.fullpostlink:hover {

	background: url("images/post_link.png") no-repeat scroll center center #CD4343;

}



span.post_num {

	background: none repeat scroll 0 0 #CD4343;

	border-radius: 45px 45px 45px 45px;

}



.post-date {

	background: none repeat scroll 0 0 #CD4343;

}



.post_data .blog-entry-title a:hover,

.title a:hover {

	color:#CD4343;

}

#skenav.fixed-menu{
     background-color:#ffffff;
}

#skenav ul li.current_page_item > a,

#skenav ul li.current-menu-ancestor > a,

#skenav ul li.current-menu-item > a,

#skenav ul li.current-menu-parent > a {

    color: #CD4343;

}



#foot-nav ul li.current_page_item > a,

#foot-nav ul li.current-menu-ancestor > a,

#foot-nav ul li.current-menu-item > a,

#foot-nav ul li.current-menu-parent > a {

    color: #CD4343;

}



#skenav li:hover > a {

    color: #CD4343;

}



.widget-area a:active,

.widget-area a:hover,

a.read-the-rest:hover,

.post-author a:hover,

.post-tags a:hover,

a.read-the-rest:hover,

#site_map .sitemap-rows ul li a:hover,

#foot-nav ul li a:hover,

.navigation a:link:hover,

.navigation a:visited:hover,

#site-info a:hover,

.portfolio a:hover {

    color: #CD4343;

}



.single .entry {

	border-bottom: 2px solid #CD4343;

}



a#back-top {

	background-color:#CD4343;

}



a.back-to-top {

	background:#CD4343;

}



.reply {

	background: url("images/comment-reply-red.png") no-repeat scroll left center transparent;

	bottom: -34px;

    height: 34px;

}



.children .reply {

    background: url("images/child-comment-reply-red.png") no-repeat scroll right center transparent;

}



#login-wrapper input[type="submit"] {	background: url("images/signin.png") no-repeat scroll 0 0 transparent;}

#login-wrapper input[type="submit"]:hover {	background: url("images/signin-hover.png") no-repeat scroll 0 0 transparent;}

#login-wrapper #regsubmitbtn {	background: url("images/signup.png") no-repeat scroll 0 0 transparent;}

#login-wrapper #regsubmitbtn:hover{	background: url("images/signup-hover.png") no-repeat scroll 0 0 transparent;}

#site_map .sitemap-rows ul li {    background: url("images/list_bullet.png") no-repeat scroll left top transparent;}



#contact-form input[type="submit"] {

   background: url("images/contact-submit.png") no-repeat scroll 0 0 transparent;

}

/**********slider****************/

.camera_wrap .camera_pag .camera_pag_ul li{  background: url('images/camera_pag.png') no-repeat scroll center bottom transparent !important;}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{  background: url('images/camera_pag.png') no-repeat scroll center top transparent !important;}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span{ background:none;}

.camera_azure_skin .camera_commands > .camera_stop {

    background-position: -120px -880px;

}



.camera_azure_skin .camera_prev > span {

    background-position: 0 -880px;

}





.camera_azure_skin .camera_next > span {

    background-position: -40px -880px;

}

.camera_azure_skin .camera_commands > .camera_play {

    background-position: -80px -880px;

}

/***************entry-meta*******************/

.like_img:hover {    background: url("images/heart-hover.png") no-repeat scroll left center transparent;}

.entry-meta .comment:hover {    background: url("images/comment-hover.png") no-repeat scroll left center transparent;}

.dislike_img:hover {    background: url("images/red_broken_heart.png") no-repeat scroll left center transparent;}

#respond h3 {    color: #CD4343;}

/****pagi***/

.pagenavi span.current {    background: none repeat scroll 0 0 #CD4343;    color: #FFFFFF;}

.pagenavi a:hover, span.current:hover {    background: none repeat scroll 0 0 #EF5D5D;    color: #FFFFFF !important;}

/**********contact****************/

#text-3 .contact-widget-title {    background: url("images/location.png") no-repeat scroll left center transparent;    padding: 0 0 0 30px;}

#text-4 .contact-widget-title {    background: url("images/telephone.png") no-repeat scroll left center transparent;    padding: 0 0 0 48px;}

#text-5 .contact-widget-title {    background: url("images/internet.png") no-repeat scroll left center transparent;    padding: 0 0 0 38px;}

#text-6 .contact-widget-title {    background: url("images/support.png") no-repeat scroll left center transparent;    padding: 0 0 0 38px;}

#commentform #submit {    background: url("images/contact-submit.png") no-repeat scroll 0 0 transparent;}

/*******shortcode************/
html .ske_tab_h ul.ske_tabs li.active{ border-top: 5px solid #CD4343;}
html .ske_tab_v ul.ske_tabs li.active{ border-left: 5px solid #CD4343;}
div.ske_acc_title.active{ background: url("images/minus.png") no-repeat scroll 99% center #CD4343;}


/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 960px) {

.reply {

	background: url("images/comment-reply-grey400.png") no-repeat scroll left center transparent;

	bottom: -33px;

    height: 34px;

}

.children .reply {

    background: url("images/child-comment-reply-grey400.png") no-repeat scroll right center transparent;

	bottom: -33px;

}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {

 .reply {

	background: url("images/comment-reply-red400.png") no-repeat scroll left center transparent;

	bottom: -34px;

    height: 34px;



}

.children .reply {

    background: url("images/child-comment-reply-red400.png") no-repeat scroll right center transparent;

	bottom: -33px;



}

.commentmetadata {

    right: 137px;

}

.commentlist .children {

    float: left;

    list-style: none outside none;

    margin: 25px 0 0;

    width: 90%;

}

}



/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 480px) {



#commentform #comment {

  width:255px;

}



#comment-body-top {

    background: url("images/comment-body-260.png") no-repeat scroll left top transparent;

    float: left;

    height: 34px;

    width: 260px;

}

.comment-body {

    background: url("images/inner-comment-body260.png") repeat-y scroll left top transparent;

    float: left;

    position: relative;

    width: 260px;

}



 .reply {

	background: url("images/comment-reply-red260.png") no-repeat scroll left center transparent;

	bottom: -33px;

    height: 34px;

}



.commentlist .children {

    float:right;

    list-style: none outside none;

    margin: 25px 0 0 1px;

    width: 90%;

}



.commentlist .children #comment-body-top {



    background: url("images/comment-body-2nd260.png") no-repeat scroll right top transparent;

    float: right;

    height: 40px;

    width: 260px;

}





.commentlist .children .comment-body {

    background: url("images/child-inner-comment-body260.png") repeat-y scroll right top transparent;

    float: right;

    width: 260px;

}



.children .reply {

    background: url("images/child-comment-reply-red260.png") no-repeat scroll right center transparent;

	bottom: -33px;

}







}