#content h1,

#content h2,

#content h3,

#content h4,

#content h5,

#content h6,

.about-widget-title, 

.about-widget-title a,

.page-title a:link,

.page-title a:visited,

h2.portfolio_head,

h2.member_head,

.archives-title,

.services_title a {

	color: #94BF0C;	

}

blockquote{color:#6F6D6D;}

a:hover { color:#94BF0C; }

#content {
    color: #D2D2D2;
}

a.read-the-rest {
    color: #D2D2D2;
}
.archives-title span {
    color: #D2D2D2;
}
.reply a:hover, a.comment-edit-link:hover {

    color: #9B9999;

}



.fullpostlink:hover {

	background: url("images/post_link.png") no-repeat scroll center center #94BF0C;

}



span.post_num {

	background: none repeat scroll 0 0 #94BF0C;

	border-radius: 45px 45px 45px 45px;

}



.post_data .blog-entry-title a:hover,

.title a:hover {

	color:#94BF0C;

}



.post-date {

    background: none repeat scroll 0 0 #94BF0C;

}
.post_data .blog-entry-title a {
    color: #D2D2D2;
}



#site-info a{ color:#94BF0C;}

#skenav {
    border-bottom: 1px solid #474747;
    border-top: 1px solid #474747;
}
#skenav ul ul {
    border: 0 none;
}

#skenav ul ul a {
    background: url("images/body_bg.png") repeat scroll 0 0 transparent;
}
#skenav ul ul li:hover > a {
    background: none repeat scroll 0 0 #000000;
    border: 0 none;
}

#skenav.fixed-menu{
     background-color:#ffffff;
}


#skenav li:hover > a {

    color: #94BF0C;

}

#skenav ul ul li:first-child {
    border-top: medium none;
}

#skenav ul ul li {
    border-bottom: 1px solid #030303;
    border-top: 1px solid #3B3B3B;
}

.widget-container {
    background: none repeat scroll 0 0 #363232;
    border: 1px solid #A2A2A2;
    color: #F1F1F1;
}

.widget-title, .widget-area ul ul li a {
    color: #D2D2D2;
    text-transform: uppercase;
}


.widget-area a:active,

.widget-area a:hover,

a.read-the-rest:hover,

.post-author a:hover,

.post-tags a:hover,

a.read-the-rest:hover,

#site_map .sitemap-rows ul li a:hover,

#foot-nav ul li a:hover,

.navigation a:link:hover,

.navigation a:visited:hover,

.portfolio a:hover {

    color: #94BF0C;

}

.nav-previous, .nav-next, .navigation a:link, .navigation a:visited {
    color: #6D5F48;
}

.comment-meta a:link, .comment-meta a:visited {
    color: #D2D2D2;
}

.comment_txt p {
    color: #000000;
}
#respond label {
    color: #D2D2D2;
    font-size: 12px;
}
#content .comment-body dl, #content .comment-body ol, #content .comment-body ul {
    color: #4D4D4D;
}

/******************************/

#login-wrapper input[type="submit"] {	background: url("images/signin.png") no-repeat scroll 0 0 transparent;}

#login-wrapper input[type="submit"]:hover {	background: url("images/signin-hover.png") no-repeat scroll 0 0 transparent;}

#login-wrapper #regsubmitbtn {	background: url("images/signup.png") no-repeat scroll 0 0 transparent;}

#login-wrapper #regsubmitbtn:hover{	background: url("images/signup-hover.png") no-repeat scroll 0 0 transparent;}



/**********slider****************/

.camera_wrap .camera_pag .camera_pag_ul li{  background: url('images/camera_pag.png') no-repeat scroll center bottom transparent !important;}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent{  background: url('images/camera_pag.png') no-repeat scroll center top transparent !important;}

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span{ background:none;}



.camera_azure_skin .camera_commands > .camera_stop {

    background-position: -120px -1080px;

}



.camera_azure_skin .camera_prev > span {

    background-position: 0 -1080px;

}





.camera_azure_skin .camera_next > span {

    background-position: -40px -1080px;

}

.camera_azure_skin .camera_commands > .camera_play {

    background-position: -80px -1080px;

}



#skenav ul li.current_page_item > a, #skenav ul li.current-menu-ancestor > a, #skenav ul li.current-menu-item > a, #skenav ul li.current-menu-parent > a {

    color: #94BF0C;

}

/************contact*************/



#text-3 .contact-widget-title {

	background: url("images/location.png") no-repeat scroll left center transparent;

    padding: 0 0 0 30px;

}



#text-4 .contact-widget-title {

	background: url("images/telephone.png") no-repeat scroll left center transparent;

	padding: 0 0 0 48px;

}



#text-5 .contact-widget-title {

	background: url("images/internet.png") no-repeat scroll left center transparent;

    padding: 0 0 0 38px;

}



#text-6 .contact-widget-title {

	background: url("images/support.png") no-repeat scroll left center transparent;

    padding: 0 0 0 38px;

}



/***********contact form ************/



#contact-form input[type="submit"] {

	background: url("images/contact-submit.png") no-repeat scroll 0 0 transparent;

    border: 0 none;

    cursor: pointer;

    font-size: 0;

    height: 30px;

    text-indent: -9999px;

    width: 91px;

}





#commentform #submit {

    background: url("images/contact-submit.png") no-repeat scroll 0 0 transparent;

    border: 0 none;

    cursor: pointer;

    font-size: 0;

    height: 30px;

    margin: 22px 0 0;

    text-indent: -999px;

    width: 91px;

}



/***************entry-meta*******************/

.like_img:hover {    background: url("images/heart-hover.png") no-repeat scroll left center transparent;}

.entry-meta .comment:hover {    background: url("images/comment-hover.png") no-repeat scroll left center transparent;}

.dislike_img:hover {    background: url("images/green_broken_heart.png") no-repeat scroll left center transparent;}



/****pagi***/

.pagenavi span.current {    background: none repeat scroll 0 0 #94BF0C;    color: #FFFFFF;}

.pagenavi a:hover, span.current:hover {    background: none repeat scroll 0 0 #C3ED38;    color: #9C9C9C !important;}



/*******footer************/

#foot-nav ul li.current_page_item > a, #foot-nav ul li.current-menu-ancestor > a, #foot-nav ul li.current-menu-item > a, #foot-nav ul li.current-menu-parent > a {

    color: #94BF0C;

}

/*******shortcode************/
html .ske_tab_h ul.ske_tabs li.active{ border-top: 5px solid #94BF0C;}
html .ske_tab_v ul.ske_tabs li.active{ border-left: 5px solid #94BF0C;}
div.ske_acc_title.active{ background: url("images/minus.png") no-repeat scroll 99% center #94BF0C;}